<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>YoTechWala - An Education Solution</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="YoTechWala is a brand and a education solution. We provide quality content on our instagram page and love to teach students passionately." name="description">
    <meta content="freelance, web, developer, graphic, designer, marketer, hire, online, YoTechWala" name="keywords">

     <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favi/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favi/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favi/favicon-16x16.png">
  <link rel="manifest" href="/img/favi/site.webmanifest">

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/">
                                    <img src="img/logo1.png" style="width: 120px" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">home</a></li>
                                        <li><a href="/about">About</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

     <!-- bradcam_area_start -->
     <div class="courses_details_banner">
         <div class="container">
             <div class="row">
                 <div class="col-xl-6">
                     <div class="course_text">
                            <h3>The Complete Web Developement <br> Course <script>document.write(new Date().getFullYear());</script></h3>
                            <div class="hours">
                                <div class="video">
                                     <div class="single_video">
                                            <i class="fa fa-clock-o"></i> <span>More than 100 Projects</span>
                                     </div>
                                     <div class="single_video">
                                            <i class="fa fa-certificate"></i> <span>Certificate of Completion</span>
                                     </div>
                                   
                                </div>
                            </div>
                     </div>
                 </div>
             </div>
         </div>
    </div>
    <!-- bradcam_area_end -->

    <div class="courses_details_info">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="single_courses">
                        <h3>Description</h3>
                        <p>
                            This is an extensive course that covers every major and minor concept to get you going along the path of 
                            being a Full Stack Developer. During the timeline of this course you will start as a beginner and move
                            towards being a complete front end developer and then towards the full stack development. This course will give 
                            you knowledge to the extent where you can create what you think. With this confidence, you can take any freelance
                            gig, apply for any job (subject to other requirements) and get your ideas to real life.
                        </p>
                        <br>
                        <h3>Tools Covered</h3>
                        <p>HTML5, CSS3, Flexbox, Responsive Design, JavaScript (all 2020 modern syntax, ES6, ES2018, etc., Bootstrap 4 and 5 (alpha), SemanticUI, 
                            , DOM Manipulation, Unix(Command Line) Commands, NodeJS, NPM, ExpressJS, Templating, REST, SQL vs. NoSQL databases, MongoDB
                            , Database Associations, Schema Design, Mongoose, Authentication From Scratch, Cookies & Sessions, Authorization 
                            , Common Security Issues - SQL Injection, XSS, etc, Deploying Apps, Cloud Databases, Upload and Storage <br>
                        </p>
                    <h3 class="second_title">Course Outline</h3>
                    </div>
                    <div class="outline_courses_info">
                            <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <i class="flaticon-question"></i> How do I enroll myself?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                Click the button on the right fill the form and our executives will get in touch with you.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    <i class="flaticon-question"></i>What are the prerequisites?</span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                            <div class="card-body">
                                                This course is designed for beginners. <br>
                                                You will need:
                                                <br>
                                                1) Internet Connection
                                                <br>
                                                2) A Laptop/Computer
                                                <br>
                                                3) Your Time
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <i class="flaticon-question"></i> What to do after Completion?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                After you take this course, you will have a good mastery of web development. And you would
                                                not need to take any other course. However, Practice makes a man perfect.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="heading_5">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" aria-controls="collapse_5">
                                                    <i class="flaticon-question"></i> Should I make projects during it?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapse_5" class="collapse" aria-labelledby="heading_5" data-parent="#accordion">
                                            <div class="card-body">
                                                Yes you can. But, this course includes more than 100 practical real world projects which will give you an extensive practical approach on the subject.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="courses_sidebar">
                        <div class="video_thumb">
                            <img src="https://images.pexels.com/photos/92904/pexels-photo-92904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                        </div>
                        <div class="author_info">
                            <div class="auhor_header">
                                
                                <h3>Anand Kishor Prasad</h3>
                                <p>Web Developer and Instructor</p>
                            </div>
                            <p class="text_info">
                               Hi! I'm Anand. I'm a Web Developer who is very passionate about teaching. In the last few years, I've worked with many professionals and freelanced for a lot of company owners and individuals. I've also helped many people learn to code in some of my past courses and those people have made a career for themselves in freelance or in company jobs. In this course, YOU will get the chance to do the same. Join me on this lovely journey and see for yourself!
                            </p>
                        </div>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLScM47ZJJKhck64JJQFUJZWaRZfFAcNAklNq7PC8VR6WeAnB6Q/viewform?usp=sf_link" class="boxed_btn">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



<%- include('partials/footer') %>