<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>YoTechWala - A Freelance Solution</title>
  <meta content="YoTechWala is a brand and a freelance solution. Hire professionals at reasonable prices in fields like marketing, web development, graphic design and much more. We provide an ecosystem where the customer can benefit majorly and affordably." name="description">
  <meta content="freelance, web, developer, graphic, designer, marketer, hire, online, YoTechWala" name="keywords">


  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favi/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favi/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favi/favicon-16x16.png">
  <link rel="manifest" href="/img/favi/site.webmanifest">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NewBiz - v4.0.1
  * Template URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <!-- Uncomment below if you prefer to use an text logo -->
        <!-- <h1><a href="index.html">NewBiz</a></h1> -->
        <h1><a href="/" style="font-family: 'Courgette', cursive; color: black; text-transform: none;">YoTechWala</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- #header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/">Portfolio</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">
                  <img src="https://i.ibb.co/C0J1DBL/factforme.png" alt="" style="margin-top: 10%;">
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web</li>
                <li><strong>Client</strong>: Fact for me</li>
                <li><strong>Project date</strong>: 18 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="https://factforme.cf">factforme.cf</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Fact for me</h2>
              <p>
                FactforMe is a website that proves that a date of birth is so much more than just a date. By some simple math calculations it shows, the amount of facts that can be revealed about you by use of some average datas.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <%- include('partials/footer') %>