<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>YoTechWala - An Education Solution</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="YoTechWala is a brand and a education solution. We provide quality content on our instagram page and love to teach students passionately." name="description">
    <meta content="freelance, web, developer, graphic, designer, marketer, hire, online, YoTechWala" name="keywords">

     <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favi/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favi/favicon-16x16.png">
    <link rel="manifest" href="/img/favi/site.webmanifest">

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/">
                                    <img src="img/logo1.png" style="width: 120px" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/">home</a></li>
                                        <li><a href="/about">About</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area ">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="illastrator_png">
                            <img src="img/banner/edu_ilastration.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="slider_info">
                            <h3>Learn to <br>
                                Make Websites <br>
                                From Home</h3>
                            <a href="/about" class="boxed_btn">Check it out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="single_about_info">
                        <h3>Over 100 projects <br>
                            and 180 classes</h3>
                        <p>We believe that in a field like this, practical is as important as theory. So, with every step of the lecture and every concept, we bring in the practicality. So that <strong>YOU</strong> not only understand it but also <strong>FEEL</strong> it. </p>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-6">
                    <div class="about_tutorials">
                        <div class="courses">
                            <div class="inner_courses">
                                <div class="text_info">
                                    <span>100+</span>
                                    <p>Projects</p>
                                </div>
                            </div>
                        </div>
                        <div class="courses-blue">
                            <div class="inner_courses">
                                <div class="text_info">
                                    <span>180+</span>
                                    <p>Classes</p>
                                </div>

                            </div>
                        </div>
                        <div class="courses-sky">
                            <div class="inner_courses">
                                <div class="text_info">
                                    <span>1000+</span>
                                    <p>Followers</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- testimonial_area_start -->
    <div class="testimonial_area testimonial_bg_1 overlay">
        <div class="testmonial_active owl-carousel">
            <div class="single_testmoial">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="testmonial_text text-center">
                                <p>
                                    "Live as if you were to die tomorrow. Learn as if you were to live forever."
                                </p>
                                <span>- Mahatma Gandhi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial_area_end -->

    <!-- our_courses_start -->
    <div class="our_courses">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Why Us?</h3>
                        <p>Your lectures are designed for your<br>
                            easy understanding and hands-on practice.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_course text-center">
                        <div class="icon">
                            <i class="flaticon-art-and-design"></i>
                        </div>
                        <h3>Certification Provided</h3>
                        <p>
                            After the completion of the course guranteed certification is provided.
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_course text-center">
                        <div class="icon blue">
                            <i class="flaticon-business-and-finance"></i>
                        </div>
                        <h3>Session with Influencers</h3>
                        <p>
                            Learn from the professionals out there and get a chance to work with them. 
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_course text-center">
                        <div class="icon">
                            <i class="flaticon-premium"></i>
                        </div>
                        <h3>No man left<br> behind</h3>
                        <p>
                            Regular doubt clearance classes. So that, every student gets the concepts.
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_course text-center">
                        <div class="icon gradient">
                            <i class="flaticon-crown"></i>
                        </div>
                        <h3>Regular Tests <br>Done</h3>
                        <p>
                            Marked Tests done on completion of every unit, to check performance. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our_courses_end -->

    <!-- subscribe_newsletter_Start -->
    <div class="subscribe_newsletter">
        <div class="container">
                    <div class="newsletter_text" style="text-align: center;">
                        <h3 style="font-size: 50px;">Get in touch!</h3>
                        <p>Click the button to know more, <strong>start your journey with us</strong> and be a Professional Web Developer.</p>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLScM47ZJJKhck64JJQFUJZWaRZfFAcNAklNq7PC8VR6WeAnB6Q/viewform?usp=sf_link" class="genric-btn primary e-large">Know more</a>
                    </div>
        </div>
    </div>
    <!-- subscribe_newsletter_end -->



<%- include('partials/footer') %>